window {
  margin: 2px;
  border: 10px;
  background-color: #282C34;
}

input {
  margin: 5px;
  border: none;
  color: #3d434f;
}

#inner-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#outer-box {
  margin: 5px;
  border: none;
  background-color: #282a36;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
} 

#entry:selected {
  background-color: #44475a;
}
